body {
font-size: 100%;
}
a{
    text-decoration: none;
}

.card{
    height: 180px;
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
}
.card-link{
    position: absolute;
    right: 5px;
    bottom: 0;
}

       #navi ul   .hl a{
            color:#000000 !important;
           font-weight: 600 !important;
        }
