{% extends "base.html" %}
{% block content %}
    <div class="row border border-warning mb-3">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                       <a href="{{ url_for('simple_pages.show', page="page1")}}">
                    <img src="{{ url_for('static', filename='images/pylint.png') }}" class="d-block w-100" alt="..." width="1200" height="480">
                       </a>
                    <div class="carousel-caption">
                        <a href="{{ url_for('simple_pages.show', page="page1")}}">
                            <h3 class="text-black">Pylint</h3>

                        </a>
                    </div>
                </div>
                <div class="carousel-item">
                     <a href="{{ url_for('simple_pages.show', page="page3")}}">
                         <img src="{{ url_for('static', filename='images/oop.png') }}" class="d-block w-100" alt="..." width="1200" height="480">


                    <div class="carousel-caption">
                        <a href="{{ url_for('simple_pages.show', page="page3")}}">
                            <h3 class="text-black">OOP</h3>

                        </a>
                    </div>
                </div>
                <div class="carousel-item">
                 <a href="{{ url_for('simple_pages.show', page="page2")}}">
                    <img src="{{ url_for('static', filename='images/aaa.png') }}" class="d-block w-100" alt="..." width="1200" height="480">
                 </a>
                    <div class="carousel-caption">
                        <a href="{{ url_for('simple_pages.show', page="page2")}}">
                            <h3 class="text-black">AAA Testing</h3>

                        </a>
                    </div>
                </div>
                <div class="carousel-item">
                     <a href="{{ url_for('simple_pages.show', page="page4")}}">
                    <img src="{{ url_for('static', filename='images/solid.png') }}" class="d-block w-100" alt="..." width="1200" height="480">
                     </a>
                    <div class="carousel-caption">
                        <a href="{{ url_for('simple_pages.show', page="page4")}}">
                            <h3 class="text-black">SOLID</h3>

                        </a>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
     <div class="row mt-1 mb-1">
        <h3> About</h3>
     <p>
         This website build for project 2.
     </p>
    </div>


    <div class="row h-100 mb-5">
        <div class="col">
            <div class="card h-100" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Pylint</h5>

                    <p class="card-text">Pylint Information</p>
                    <a href="{{ url_for('simple_pages.show', page="page1")}}" class="card-link">Card link</a>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">AAA Testing</h5>
                    <p class="card-text">AAA Testing Information</p>
                    <a href="{{ url_for('simple_pages.show', page="page2")}}" class="card-link">Card link</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">OOP</h5>
                    <p class="card-text">Knowledge about OOP</p>
                    <a href="{{ url_for('simple_pages.show', page="page3")}}" class="card-link">Card link</a>
                </div>
            </div>
        </div>
     <div class="col ">
            <div class="card h-100" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">SOLID</h5>
                    <p class="card-text">Knowledge about SOLID</p>
                    <a href="{{ url_for('simple_pages.show', page="page4")}}" class="card-link  ">Card link</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}